{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWEEZERS</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="stylesheet" href="{% static 'css/review_form.css' %}">
    <style>
    .formpage-link-to-home:hover {
        color: grey;
        text-decoration: none;
        cursor: pointer;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="special-body">
    <div class="div-for-formpage-top">
        <a href="{% url 'movies:index' %}" class="formpage-link-to-home"><img src="/static/img/logo.png" alt="" height="35px" class="nav-search-img">TWEEZERS</a>
    </div>
    <div class="div-for-formpage-bottom d-flex align-items-center">
        <div class="container w-100 div-for-form-container align-items-center">
            <div class="div-for-formpage-content mx-auto align-items-center">
                <div class="div-for-formpage-form mx-auto py-3 my-3">
                    {% if request.resolver_match.url_name == 'review_create' %}
                    <h4 class="text-white mt-2 mb-2">WRITE REVIEW</h4>
                    <div class="py-0 my-0 review-create-style mb-3">「 {{ movie.title }} 」,<br>어떻게 감상하셨나요?</div>
                    {% else %}
                    <h4 class="text-white mt-2 mb-4">EDIT REVIEW</h4>
                    {% endif %}
                    <form action='' method="POST" class="login-signup-form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-danger w-100 py-1 mb-3">확인</button>
                    </form>
                    {% if request.resolver_match.url_name == 'review_create' %}
                    <a href="{% url 'movies:m_detail' movie.pk %}" class="go-back-to-detail py-0 my-0 mb-3 text-muted"> ◀ 돌아가기</a>
                    {% else %}
                    <a href="{% url 'reviews:review_detail' review.pk %}" class="go-back-to-detail py-0 my-0 mb-3 text-muted"> ◀ 돌아가기</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</body>
</html>